@use './pages/cart';
@use './pages/product';
@use './pages/login';
@use './pages/home';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 1280px;
    margin: auto;
    overflow-x: hidden;
}