@use '../abstracts/variables' as variables;

.button {

    padding: 1em 5em;
    border-radius: 4em;
    border: 0;
    font-size: 1em;
    @media (max-width:992px) {
        padding: 1em 2em;
    }
    
    @media (max-width:768px) {
        width: 100%;
    }
}

.button--primary {
    color: variables.$secondary_color;
    background-color: variables.$primary_color;

}

.button--secondary {
    border: 1px solid variables.$light_grey_color;
    background: transparent;
}

.button--normal{
    background-color: variables.$medium_grey_color;
}