@use '../abstracts/mixins' as mixins;
@use '../abstracts/variables' as variables;

.product-card {

    @include mixins.center($flexDirection: column, $alignItems: start);
    gap: 1em;
    width: fit-content;

    &__item {
        list-style: none;
    }

    &__link {
        text-decoration: none;
        color: inherit;
        display: block;
    }

    &__content {
        width: 245px;
        list-style: none;
        @include mixins.center($flexDirection: column, $alignItems: start);
        gap: .5em;
    }

    &__image {
        border-radius: 1.25em;
        width: 100%;
    }

    &__title {
        font-size: 1.1em;
        font-weight: 700;
    }

    &__rating {
        font-size: 0.875em;
        font-weight: 400;
        display: flex;
        align-items: center;
        gap: 0.2em;
    }

    &__star {
        color: variables.$grey_color_1;
        font-size: 1.1em;
        line-height: 1;

        &--filled {
            color: variables.$yellow_1;
        }

        &--empty {
            color: variables.$grey_color_1;
        }
    }

    &__price {
        font-size: 1.4em;
        font-weight: 700;
    }
}