$navbar_search_bg: #F0F0F0;

$container_padding_x_mobile: 16px;
$container_padding_x_tablet: 24px;
$container_padding_x_desktop: 90px;


$primary_color: #000000;
$secondary_color: #FFFFFF;
$light_grey_color: #0000001A;
$medium_grey_color: #00000099;
$grey_color_1: #0000004D;
$grey_color_2: #f2f0f1;
$product_bg_color: #F0EEED;
$dress_style_bg_color: #F0F0F0;

$primary_red_color: #FF3333;
$secondary_red_color: #FF33331A;

$yellow_1: #f4c542